<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">Projektstyring</title>

    <!-- Import Google Fonts Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/components.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>

<header th:fragment="header">
    <div class="header-container flex">
        <div class="logo flex">
            <a th:href="@{/}">
                <img th:src="@{/images/logo/AlphaSolutions.png}" alt="Alpha Solutions Logo" class="nav-logo">
            </a>
            <h1>Alpha Solution Projects</h1>
        </div>

        <nav class="main-nav">
            <ul class="nav-menu">
                <li><a th:href="@{/}">Hjem</a></li>
                <li><a th:href="@{/projects}">Projects</a></li>
                <li><a th:href="@{/subprojects}">Subprojects</a></li>
                <li><a th:href="@{/tasks}">Tasks</a> </li>
                <li><a th:href="@{tasks/workload}">Belastning</a></li>
                <li><a th:href="@{/projects/summary}">Summary</a> </li>
            </ul>
        </nav>


        <div class="user-controls">
            <!-- Visible if NOT logged in -->
            <div th:if="${session.user == null}" class="user-info">
                <a th:href="@{/login}" class="button">Login</a>
            </div>

            <!-- Visible if logged in -->
            <div th:if="${session.user != null}" class="user-info flex">
                <span th:text="${session.user}">Username</span>
                <a th:href="@{/logout}" class="button">Logout</a>
            </div>
        </div>

    </div>
</header>