<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head th:replace="~{fragments/header :: head}">
    <title>Login</title>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main class="container">
    <section class="login-container">
        <h1>Login</h1>

        <div th:if="${errorMessage}">
            <p class="status-warning" th:text="${errorMessage}"></p>
        </div>

        <!-- Form -->
        <form th:action="@{/auth/login}" method="post">
            <label for="username">Username</label>
            <input
                    type="text"
                    id="username"
                    name="username"
                    required
                    placeholder="Enter Username"
                    maxlength="50"
            />

            <label for="password">Password</label>
            <input
                    type="password"
                    id="password"
                    name="password"
                    required
                    placeholder="Enter Password"
                    minlength="8"
                    pattern="^(?=.*[0-9])(?=.*[a-zA-Z]).{8,}$"
                    title="Mindst 8 tegn, både bogstaver & tal"
            />

            <button type="submit" class="button">LOGIN</button>
        </form>

        <p>
            Har du ikke en konto?
            <a th:href="@{/register}" class="button">Opret en her</a>
        </p>
    </section>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
