<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/header :: head}">
    <title>Create Project</title></head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main class="content">
    <h2>Create New Project</h2>

    <!-- Formular bound to Project-object -->
    <form th:action="@{/projects/create}" th:object="${project}" method="post" class="form-container card">

        <!-- error -->
        <div th:if="${#fields.hasErrors()}" class="status-warning">
            Please fix the highlighted errors.
        </div>

        <!-- Projectname -->
        <label for="name">Project Name</label>
        <input type="text" id="name" th:field="*{name}" required>
        <div class="status-warning" th:errors="*{name}"></div>

        <!-- Project description -->
        <label for="description">Description</label>
        <textarea id="description" th:field="*{description}" rows="4"></textarea>
        <div class="status-warning" th:errors="*{description}"></div>

        <!-- Startdate-->
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" th:field="*{startDate}" required>
        <div class="status-warning" th:errors="*{startDate}"></div>

        <!-- End Date -->
        <label for="endDate">End Date</label>
        <input type="date" id="endDate" th:field="*{endDate}">
        <div class="status-warning" th:errors="*{endDate}"></div>


        <button type="submit" class="button button--create">Create</button>
    </form>
</main>



<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
