<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/header :: head}">
    <title>Project Summary</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<main class="content">
    <h1>Project Time Summary</h1>

    <section class="project-list">
        <a class="project-card" th:each="project : ${projects}" th:href="@{'/subprojects?projectId=' + ${project.id}}">
            <h2 th:text="${project.name}">Project Name</h2>
            <p th:text="'Total est. hours: ' + ${projectEstimatedMap[project.id]} + ' hours'">0 hours</p>
            <p th:text="'Total hours used: ' + ${projectHoursMap[project.id]} + ' hours'">0 hours</p>
        </a>
    </section>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
