<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/header :: head}">
    <title>Create</title>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main class="content">
    <h2>Create Subproject</h2>
    <div class="container">
        <div class="card">
            <!-- Formular bound to subproject-objects -->
            <form th:action="@{/subprojects/create}" th:object="${subProject}" method="post" class="form-container">

                <!-- hidden field (projectId) -->
                <input type="hidden" th:field="*{projectId}"/>

                <!--Subproject name-->
                <label for="name">Name</label>
                <input type="text" id="name" th:field="*{name}" required>

                <!--SubProject description -->
                <label for="description">Description</label>
                <textarea id="description" th:field="*{description}" rows="4"></textarea>

                <!--StartDate-->
                <label for="startDate">Start</label>
                <input type="date" id="startDate" th:field="*{startDate}" required>

                <!--EndDate-->
                <label for="endDate">End</label>
                <input type="date" id="endDate" th:field="*{endDate}">

                <!--Submit-->
                <button type="submit" class="button button--create">Create</button>
            </form>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
